/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/******************Params******************************/
/****************Global*********************************/
body {
  background: linear-gradient(90deg, #3b3c41 0.15%, rgba(58, 58, 58, 0.9) 50%, #33353b 99.68%);
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 320px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.headding {
  text-align: center;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase; }

section {
  padding: 90px 0; }

/************Slider***************/
.slick-prev:before, .slick-next:before {
  display: none; }

.slick-prev {
  background: url("../img/arrow.png");
  width: 62px;
  height: 62px;
  left: -100px;
  transition: opacity .3s;
  opacity: 0.5; }
  .slick-prev:hover, .slick-prev:focus, .slick-prev:active {
    background: url("../img/arrow.png"); }
  .slick-prev:hover {
    opacity: 1; }

.slick-next {
  background: url("../img/arrow.png");
  transform: rotate(-180deg) translateY(50%);
  width: 62px;
  height: 62px;
  right: -100px;
  transition: opacity .3s;
  opacity: 0.5; }
  .slick-next:hover, .slick-next:focus, .slick-next:active {
    background: url("../img/arrow.png"); }
  .slick-next:hover {
    opacity: 1; }

.slick-dots li {
  margin-right: 25px; }
  .slick-dots li:last-child {
    margin-right: 0; }
  .slick-dots li:first-child {
    margin-left: 0; }

.slick-dots li button {
  border: 1px solid #cdcdcd;
  width: 15px;
  height: 15px;
  border-radius: 50%; }
  .slick-dots li button:before {
    width: 15px;
    height: 15px;
    content: ' ' !important;
    border-radius: 50%;
    opacity: 0; }

.slick-dots li.slick-active button:before {
  background: #cdcdcd;
  opacity: 1; }

/************Scrollbar************/
::-webkit-scrollbar {
  width: 12px;
  background: #4b4b4f; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/************Animation***********/
@keyframes line {
  100% {
    width: 100%;
    height: 1px; } }

@keyframes lineMobile {
  100% {
    height: 300px;
    width: 1px; } }

@keyframes point {
  20% {
    opacity: 1; }
  50% {
    transform: translateY(-50%) scale(1.3);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5), 0 0px 7px rgba(255, 255, 255, 0.4); }
  100% {
    opacity: 1; } }

@keyframes html-css {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 104.5; } }

@keyframes js-ts {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 195; } }

@keyframes sass {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 155; } }

@keyframes git {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 125; } }

@keyframes design {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 165; } }

@keyframes debug {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 140; } }

@keyframes tools {
  from {
    stroke-dashoffset: 314; }
  to {
    stroke-dashoffset: 175; } }

/************Header*************/
.header {
  height: 100vh;
  background: url("../img/bg-points.png"), linear-gradient(108.43deg, rgba(21, 21, 25, 0) -89.31%, #151519 90.74%);
  background-size: cover; }

.first__menu {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  left: 0;
  height: 100vh;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.17);
  transition: background .5s; }
  .first__menu:hover .first__navigate-box {
    max-width: 300px; }

.first__hide {
  display: none; }

.first__navigate {
  text-align: center; }

.first__logo {
  margin: 0 auto 180px auto; }

.first__logo-image {
  width: 60px;
  height: 70px; }

.first__navigate-box {
  max-width: 60px;
  margin-bottom: 60px;
  overflow: hidden;
  transition: max-width 0.8s; }
  .first__navigate-box:last-child {
    margin-bottom: 0; }
  .first__navigate-box a {
    display: flex;
    align-items: center;
    color: #cdcdcd;
    text-decoration: none; }
  .first__navigate-box:hover .first__text-href:after {
    opacity: 1;
    width: 100%; }

.first__menu-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px; }

.first__text-href {
  position: relative;
  margin: 0 15px 0 30px;
  text-transform: uppercase;
  font-size: 21px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  white-space: nowrap; }
  .first__text-href:after {
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 2px;
    height: 2px;
    background: #cdcdcd;
    opacity: 0;
    transition: width 0.5s, opacity 0.5s; }

.first__content {
  display: flex;
  justify-content: center;
  height: 100vh; }

.first__foto {
  position: absolute;
  right: 0;
  bottom: 0; }

.first__info {
  align-self: center;
  text-align: center; }

.first__name h1 {
  font-size: 55px;
  text-transform: uppercase; }

.first__profession {
  margin: 75px 0; }
  .first__profession h2 {
    font-size: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }

.first__button a {
  display: inline-block;
  padding: 20px 165px;
  font-size: 33px;
  text-transform: uppercase;
  color: #cdcdcd;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: 3px solid #cdcdcd;
  border-radius: 25px;
  transition: background 0.2s; }
  .first__button a:hover {
    background: rgba(205, 205, 205, 0.33); }
  .first__button a:focus {
    outline: none; }

/************About*************/
.about {
  padding-bottom: 140px; }
  .about__short-biography p {
    margin: 90px 0 150px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.8;
    font-size: 20px; }
  .about ._line, .about ._point {
    opacity: 0; }
  .about__hide {
    display: none; }
  .about__line {
    width: 1px;
    height: 1px;
    background: #fff;
    animation-name: line;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; }
  .about ._show {
    opacity: 1; }
  .about__wrapper {
    width: 1170px;
    display: flex;
    justify-content: space-around; }
  .about__point {
    opacity: 0;
    transform: translateY(-50%);
    position: relative;
    width: 14px;
    height: 14px;
    background: #cdcdcd;
    border-radius: 50%;
    animation-name: point;
    animation-duration: 0.7s;
    animation-fill-mode: forwards; }
    .about__point:first-child {
      animation-delay: 0.5s; }
    .about__point:nth-child(2) {
      animation-delay: 1.5s; }
    .about__point:nth-child(3) {
      animation-delay: 2.5s; }
    .about__point:nth-child(4) {
      animation-delay: 3.5s; }
    .about__point:nth-child(5) {
      animation-delay: 4.5s; }
    .about__point:nth-child(6) {
      animation-delay: 5.5s; }
    .about__point:last-child {
      animation-delay: 6.5s; }
  .about__above-text {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transform: translate(-42%, -35px);
    font-size: 16px;
    white-space: nowrap;
    text-transform: uppercase; }
    .about__above-text_php {
      transform: translate(-30%, -35px); }
  .about__under-text {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transform: translate(-35%, 20px);
    font-size: 22px; }
    .about__under-text_center {
      transform: translate(-200%, 20px); }
  .about__half {
    font-size: 14px; }

/******************Skills*****************************/
.skills {
  background: url("../img/bg-points.png"), linear-gradient(108.43deg, rgba(21, 21, 25, 0) -89.31%, #151519 90.74%);
  background-size: cover; }
  .skills__headding {
    margin-bottom: 90px; }
  .skills__circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .skills__item {
    margin-right: 123px;
    margin-bottom: 105px; }
    .skills__item svg {
      width: 180px;
      height: 180px; }
    .skills__item:nth-child(4), .skills__item:nth-child(7) {
      margin-right: 0; }
    .skills__item:nth-child(n + 4) {
      margin-bottom: 0; }
  .skills__number {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px; }
  .skills__prof {
    position: relative; }
  .skills__content {
    text-align: center;
    margin-top: 60px;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.5; }
  .skills__circle-inside {
    fill: #3e3e3e; }
  .skills__circle-border {
    fill: none;
    stroke: #cdcdcd;
    stroke-width: 100;
    stroke-dashoffset: 314;
    stroke-dasharray: 314; }
  .skills__circle-animate_1 {
    animation: html-css 2.1s linear forwards; }
  .skills__circle-animate_2 {
    animation: js-ts 1.42s linear forwards; }
  .skills__circle-animate_3 {
    animation: sass 1.78s linear forwards; }
  .skills__circle-animate_4 {
    animation: git 2s linear forwards; }
  .skills__circle-animate_5 {
    animation: design 1.64s linear forwards; }
  .skills__circle-animate_6 {
    animation: debug 1.72s linear forwards; }
  .skills__circle-animate_7 {
    animation: tools 1.6s linear forwards; }

/******************Project*****************************/
.projects__part, .projects__tags, .projects__circle {
  display: flex; }

.projects__part {
  justify-content: space-between; }

.projects__headding {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  transform: translateX(-5%); }

.projects__tags {
  align-items: flex-start; }
  .projects__tags img {
    margin-top: 3px; }
  .projects__tags p {
    line-height: 1.5;
    min-height: 50px; }

.projects__item {
  position: relative; }

.projects__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }
  .projects__arrow_left {
    left: -90px; }
  .projects__arrow_right {
    right: -120px;
    transform: translateY(-50%) rotate(180deg); }

.projects__slider {
  max-width: 450px; }

.projects__displays {
  position: relative; }

.projects__mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -5%); }

.projects__tags {
  margin: 70px;
  justify-content: center;
  transform: translateX(-10%);
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  .projects__tags P {
    text-align: center;
    margin-left: 10px;
    word-wrap: break-word; }

.projects__circle {
  justify-content: center; }
  .projects__circle span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    margin-right: 33px;
    transition: background 0.3s;
    cursor: pointer; }
    .projects__circle span:last-child {
      margin-right: 0; }
    .projects__circle span:hover {
      background: #cdcdcd;
      background: rgba(195, 195, 195, 0.7); }

.projects__link {
  margin: 60px 0; }
  .projects__link a {
    margin: 0 auto;
    display: inline-block;
    padding: 20px 165px;
    font-size: 33px;
    text-transform: uppercase;
    color: #cdcdcd;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: 3px solid #cdcdcd;
    border-radius: 25px;
    transition: background 0.2s;
    padding: 20px 160px; }
    .projects__link a:hover {
      background: rgba(205, 205, 205, 0.33); }
    .projects__link a:focus {
      outline: none; }

.projects__active {
  background: #cdcdcd; }

/********************Contacts****************/
.contacts {
  background: url("../img/bg-points.png"), linear-gradient(108.43deg, rgba(21, 21, 25, 0) -89.31%, #151519 90.74%);
  background-size: cover;
  padding-bottom: 40px; }
  .contacts__content {
    display: flex;
    justify-content: space-between; }
  .contacts__headding {
    margin: 70px 0 75px; }
  .contacts__left-part {
    text-align: center; }
  .contacts__about {
    color: #6F7071;
    line-height: 1.5;
    font-size: 20px;
    max-width: 475px;
    margin-bottom: 160px; }
  .contacts__location h4 {
    font-size: 24px;
    margin-bottom: 36px; }
  .contacts__location P {
    color: #6F7071;
    font-size: 18px; }
  .contacts__adress {
    margin-bottom: 85px; }
  .contacts__form {
    background: url("../img/bg-forms.png"), linear-gradient(270deg, rgba(44, 44, 49, 0.32) 0%, rgba(36, 36, 41, 0.62) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -20px 20px 11px rgba(0, 0, 0, 0.56), 10px 20px 20px #000000;
    border-radius: 12px;
    padding: 70px 20px; }
  .contacts__headding-form {
    margin-bottom: 85px; }
  .contacts__inputs form input {
    display: block;
    width: 510px;
    padding-bottom: 20px;
    margin-bottom: 35px; }
  .contacts__inputs form textarea {
    display: block;
    width: 512px;
    resize: none;
    height: 110px; }
  .contacts__inputs form input, .contacts__inputs form textarea {
    color: #cdcdcd;
    background: none;
    border: none;
    border-bottom: 1px solid #CDCDCD;
    font-size: 18px; }
    .contacts__inputs form input::placeholder, .contacts__inputs form textarea::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #6F7071; }
    .contacts__inputs form input:focus, .contacts__inputs form textarea:focus {
      color: #cdcdcd; }
  .contacts__inputs form button {
    display: block;
    margin: 72px auto 0;
    padding: 20px 35px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #6F7071;
    font-size: 18px;
    background: url("../img/bg-button.png"), linear-gradient(90deg, #1B1D22 0%, #1A1B20 100%);
    border: none;
    filter: drop-shadow(10px 10px 3px #000000); }
  .contacts__line {
    width: 100%;
    height: 1px;
    background: #6F7071;
    margin-top: 90px; }
  .contacts__git-icon {
    width: 58px;
    height: 58px;
    display: block;
    margin: 40px auto 0;
    fill: #6F7071;
    transition: fill .2s;
    cursor: pointer; }
    .contacts__git-icon:hover {
      fill: #cdcdcd; }

@media screen and (min-width: 2561px) {
  .first__menu, .first__foto {
    display: none; } }

@media screen and (max-width: 1600px) {
  .first__foto {
    display: none; } }

@media screen and (max-width: 1455px) {
  .container {
    width: 80%; }
  .about__close {
    display: none; }
  .about__hide-mobile {
    display: none; }
  .about__hide {
    display: block; }
  .about__wrapper {
    width: 700px; }
  .about__line {
    margin-left: 15%;
    max-width: 700px; }
  .about__above-text {
    text-align: center;
    line-height: 1.2;
    transform: translate(-42%, -45px); }
    .about__above-text_modify {
      transform: translate(-42%, -55px); }
  .about__under-text_modify {
    transform: translate(-35%, 4px); }
  .about__mobile-paragraf P {
    margin: 120px 0 0; }
  .about__point:nth-child(2) {
    animation-delay: 0.5s !important; }
  .about__point:nth-child(4) {
    animation-delay: 1.7s !important; }
  .about__point:nth-child(5) {
    animation-delay: 2.9s !important; }
  .about__point:nth-child(7) {
    animation-delay: 4.1s !important; }
  .projects__part {
    flex-direction: column;
    align-items: center; }
  .projects__headding {
    margin-bottom: 40px;
    transform: translateX(0%); }
  .projects__right {
    margin-top: 100px; }
  .projects__tags {
    display: none; }
  .contacts__content {
    flex-direction: column-reverse;
    align-items: center; }
  .contacts__location {
    margin-top: 100px; } }

@media screen and (max-width: 1361px) {
  .skills__item:nth-child(3), .skills__item:nth-child(6) {
    margin-right: 0; }
  .skills__item:nth-child(4) {
    margin-right: 123px;
    margin-bottom: 105px; }
  .skills__item:nth-child(7) {
    margin-right: 100px;
    margin-left: 100px; } }

@media screen and (max-width: 1240px) {
  .first__menu {
    display: none; }
  .first__hide {
    position: absolute;
    display: block; }
    .first__hide svg {
      width: 100px;
      height: 100px; }
  .about__lern {
    display: none; }
  .about__close {
    display: inline; }
  .about__short-biography p {
    margin-bottom: 0; }
  .about__mobile-paragraf {
    display: none; } }

@media screen and (max-width: 1094px) {
  .skills__prof svg {
    width: 130px; }
  .skills__item {
    margin-bottom: 60px !important; }
  .skills__content {
    margin-top: 10px;
    font-size: 20px; }
  .skills__number {
    font-size: 25px; } }

@media screen and (max-width: 982px) {
  .first__name h1 {
    font-size: 38px; }
  .first__profession h2 {
    font-size: 28px; }
  .first__button a {
    font-size: 24px;
    padding: 20px 120px;
    border-radius: 15px; }
  .first__logo-image {
    width: 70px !important;
    height: 80px !important; }
  .about__short-biography p {
    line-height: 1.7;
    font-size: 16px; } }

@media screen and (max-width: 794px) {
  .skills__item:nth-child(2n) {
    margin-right: 0; }
  .skills__item:nth-child(3) {
    margin-right: 123px; }
  .projects__slider {
    max-width: 350px; }
    .projects__slider img {
      width: 350px; }
  .projects__link a {
    font-size: 30px;
    text-align: center;
    padding: 15px 110px; } }

@media screen and (max-width: 700px) {
  .headding {
    font-size: 36px; }
  .projects__headding {
    font-size: 28px; }
  .contacts__form {
    padding: 70px 35px; }
  .contacts__inputs form input {
    display: block;
    width: 320px;
    padding-bottom: 20px;
    margin-bottom: 35px; }
  .contacts__inputs form textarea {
    display: block;
    width: 322px;
    resize: none;
    height: 110px; } }

@media screen and (max-width: 600px) {
  .projects__slider {
    max-width: 250px; }
    .projects__slider img {
      width: 250px; }
  .projects__link a {
    margin-left: 6px;
    font-size: 20px;
    text-align: center;
    padding: 15px 80px; }
  .slick-arrow {
    display: none !important; }
  .slick-dots li button {
    width: 8px;
    height: 8px; }
    .slick-dots li button:before {
      width: 12px;
      height: 12px; }
  .contacts__headding-form {
    line-height: 1.5; } }

@media screen and (max-width: 478px) {
  .first__name h1 {
    line-height: 1.5; }
  .skills__item {
    margin: 0 50px 50px 50px !important; }
  .contacts__form {
    padding: 0px 10px 20px;
    box-shadow: none;
    background: none; }
  .contacts__headding-form {
    display: none; } }

@media screen and (max-width: 400px) {
  .first__button a {
    padding: 20px 0;
    width: 100%; }
  .contacts__inputs form input {
    display: block;
    width: 250px;
    padding-bottom: 20px;
    margin-bottom: 35px; }
  .contacts__inputs form textarea {
    display: block;
    width: 250px;
    resize: none;
    height: 110px; } }

/*# sourceMappingURL=styles.css.map */
